{% extends '@OptimeAcl/layout.html.twig' %}

{% block page_header 'Access Control Configuration' %}

{% block styles %}
    {{ parent() }}
{#    <style>#}
{#        .acl-resource-child td:first-child {#}
{#            padding-left: 30px;#}
{#        }#}
{#    </style>#}
{% endblock %}

{% form_theme form '@OptimeAcl/form_theme/access_control.html.twig' %}

{% block content %}
    {{ form_start(form, {attr: {novalidate: true}}) }}
    {{ form_row(form) }}
    <hr>
    <div>
        <input type="submit" value="Save Configuration" class="btn btn-primary">
    </div>
    {{ form_end(form) }}
{% endblock %}